<div id="conf_semestre">
    <div>Semestre : <select id="semestre" (change)="editingSemestre('s')">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        Dates : <input id="datedeb_input" type="date" (change)="editingSemestre('')"> au <input id="datefin_input"
            type="date" (change)="editingSemestre('')">
    </div>
    <img (click)="saveSemestre()" id="save_logo" style="height: 2em; background-color: white;"
        src="../assets/img/saved.png" alt="profile_icon">
</div>
<div id="gest_absences">
    <table id="etat_absences">
        <tr>
            <td colspan="2" style="background-color: gainsboro;"><span style="font-size: large; font-weight: bold;">Etat
                    des absences du Semestre :</span>
            </td>
        </tr>
        <tr>
            <td>Total d'heures de cours dans le Semestre : <span>{{stats["total_heures"]}}</span><br></td>
            <td>Total d'absences : <span>{{stats["absences"]}}</span><br></td>
        </tr>
        <tr>
            <td>Absences non-excusées : <span>{{stats["abs_nexc"]}}</span></td>
            <td>Absences excusées : <span>{{stats["abs_exc"]}}</span></td>
        </tr>
        <tr>
            <td colspan="2">Pourcentage d'absentéisme au semestre : <span>{{stats["pourcentage"]}} %</span></td>
        </tr>
    </table>

    <div id="nav">
        <button (click)="navPrevWeek()">Semaine préc.</button>
        <button (click)="navCurrentWeek()">Revenir à aujourd'hui</button>
        <button (click)="navNextWeek()">Semaine suiv.</button>
    </div>

    <h2>Semaine du {{ str_weekStartDate }} au {{ str_weekEndDate }}</h2>

    <div class="semaine" [attr.id]="'sem_' + (str_weekStartDate) + '_' + (str_weekEndDate)">
        <div [attr.class]="'day_' + (day.dayName)" *ngFor="let day of formattedWeekDays; let i = index">
            <h3 class="{{ day.dayName }}">{{ day.dayName }} {{ day.date }}</h3>
            <div class="heure">Prés. Abs. Exc.</div>
            <div *ngFor="let heure of heures; let c = index">

                <div class="heure">
                    <span style="margin-right: 0.5em;">{{ heure }}</span>
                    <span [attr.class]="(day.dayName) + '_' + (heure)" style="margin-right: 0.5em;"> {{
                        heureContent[day.dayName + '_' + heure] }} </span>
                    <input type="radio" class="present" name="{{ day.dayName + '_' + day.date + '_' + heure }}"
                        value="present" checked style="accent-color: lightgreen; margin-right: 1.5em;"
                        (click)="inputAbsence(day.dayName + '_' + day.date + '_' + heure + '_pres')">
                    <input type="radio" class="abs_nexc" name="{{ day.dayName + '_' + day.date + '_' + heure }}"
                        value="abs_nexc" style="accent-color: lightcoral; margin-right: 1.5em;"
                        (click)="inputAbsence(day.dayName + '_' + day.date + '_' + heure + '_nexc')">
                    <input type="radio" class="abs_exc" name="{{ day.dayName + '_' + day.date + '_' + heure }}"
                        value="abs_exc" style="accent-color: rgb(248, 209, 110); margin-right: 1.5em;"
                        (click)="inputAbsence(day.dayName + '_' + day.date + '_' + heure + '_exc')">
                </div>
            </div>
        </div>
    </div>


</div>