<div id="conf_semestre">
    <div>Semestre : <select id="semestre" (change)="editingSemestre('s')">
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
        </select>
        Dates : <input id="datedeb_input" type="date" (change)="editingSemestre('')"> au <input id="datefin_input"
            type="date" (change)="editingSemestre('')">
    </div>
    <img (click)="saveSemestre()" id="save_logo" style="height: 2em; background-color: white;"
        src="../assets/img/saved.png" alt="profile_icon">
</div>
<div id="gest_absences">
    <div id="nav">
        <button (click)="navPrevWeek()">Semaine précédente</button>
        <button (click)="navCurrentWeek()">Revenir à aujourd'hui</button>
        <button (click)="navNextWeek()">Semaine suivante</button>
    </div>
    <h2>Semaine du {{ str_weekStartDate }} au {{ str_weekEndDate }}</h2>

    <div class="semaine" [attr.id]="'sem_' + (str_weekStartDate) + '_' + (str_weekEndDate)">
        <div [attr.class]="'day_' + (day.dayName)" *ngFor="let day of formattedWeekDays; let i = index">
            <h3 class="{{ day.dayName }}">{{ day.dayName }} {{ day.date }}</h3>
            <div class="heure">Prés. Abs. Exc.</div>
            <div *ngFor="let heure of heures; let c = index">

                <div class="heure">
                    <span style="margin-right: 2em;">{{ heure }}</span>
                    <input type="radio" id="present" name="{{ day.dayName + '_' + day.date + '_' + heure }}"
                        value="present" checked style="accent-color: lightgreen; margin-right: 1.5em;">
                    <input type="radio" id="abs_exc" name="{{ day.dayName + '_' + day.date + '_' + heure }}"
                        value="abs_exc" style="accent-color: lightcoral; margin-right: 1.5em;">
                    <input type="radio" id="abs_nexc" name="{{ day.dayName + '_' + day.date + '_' + heure }}"
                        value="abs_nexc" style="accent-color: rgb(248, 209, 110); margin-right: 1.5em;">
                </div>
            </div>
        </div>
    </div>

    <div id="etat_absences">
        Etat des absences du Semestre
    </div>

</div>