{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ESIG Student Companion</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>
    <div id="header">
        <div id="burger" onclick="toggleBurgerAnimation()">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
        <div id="title">
            <h1>STUDENT COMPANION</h1>
        </div>
        <img id="profile" src="{% static 'img/profile.png' %}" alt="profile_icon"/>
    </div>
    <div id="contents">
        {% block content %}
        <div id="events"></div>
        <div id="menus"></div>
        <div id="infos_profs"></div>
        {% endblock %}
    </div>
    <div id="footer"></div>
</body>
<script src="{% static 'js/navigation.js' %}"></script>
</html>